function Fibonacci 1

    push argument 0
    push constant 2
    lt
    if-goto B
    push argument 0
    push constant 2
    sub
    call fibonacci.Fibonacci 1
    push argument 0
    push constant 1
    sub
    call fibonacci.Fibonacci 1
    add
    return
    label B
    push argument 0
    return 