function Mid 3

	push argument 0
	push argument 1
	gt
	if-goto ab
	push argument 1
	push argument 2
	gt
	if-goto bc
	push argument 1
	return
	
	label ab
	push argument 0
	push argument 2
	gt
	if-goto ac
	push argument 0
	return
	
	label bc
	push argument 0
	push argument 2
	gt
	if-goto ac2
	push argument 2
	return
	
	label ac
	push argument 1
	push argument 2
	gt
	if-goto bc2
	push argument 2
	return
	
	label ac2
	push argument 0
	return
	
	label bc2
	push argument 1
	return
	